$body-bg: #dbdbdb;

@import 'bootstrap/scss/bootstrap.scss';

tr{
    border-bottom: 1px solid black;
}

.delete-btn{
    margin-left: 4px;
}

@media screen and (max-width:600px){
    .delete-btn{
        margin-left: 0px;
        margin-top: 5px;
    }
}